<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>INGRESA TU INFORMACION</h1>
    <form>
        <input type="text" name="nomrbe" placeholder=" ingresa tu nombre"/>
        <input type="text" name="apellido" placeholder="ingresa tu apellido"/>
        <input type="number" name = "edad" placeholder="ingresa tu edad"/> 
        <button>ENVIAR</button>
    </form>
    </body>
</html>